@use '../globals/color-vars' as color;

@mixin userLink-container() {
    gap: 20px;
    padding: 7px 20px;
}

/*------- global styles for both asides ----- */
aside {
    width: 250px;
    height: calc(100vh - 60px);
    top: 60px;
    padding: 20px;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;

    .accordion-title {
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    a {
        font-size: 16px;
        font-weight: 400;
        border-radius: 8px;

        @include userLink-container();
    }

    .img-profile {
        border-radius: 100%;
    }

    .btn-view {
        padding: 5px 15px;
        border-radius: 25px;
        font-weight: 300;
        margin-top: 15px;
    }
}

aside.left {
    position: fixed;
    z-index: 800;

    p {
        font-weight: 300;
        font-size: 13px;
        margin-top: 20px;

        span {
            color: color.$primary;
            font-weight: 600;
        }
    }

    .skeleton-user {
        @include userLink-container();
    }
}

.nav-modal {
    z-index: 750;
    top: 60px;
}

aside.right {
    padding-top: 10px;
    position: sticky;

    .skeleton-user {
        @include userLink-container();
    }
}

/*------------------- MATERIAL UI ACCORDEON COMPONENT ------------ */
.icon-expanded {
    color: color.$primary;
}

@media screen and (min-width: 720px) {
    aside.left {
        .accordion-populars {
            display: none;
        }
    }

    aside.right {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    aside.left {
        display: flex;
        position: sticky;
        z-index: 0;
    }
}

@media screen and (min-width: 1320px) {
    aside {
        width: 100%;
    }
}