@use '../globals/mixins' as mixin;
@use '../globals/color-vars' as color;

header {
    padding: 0 3%;
    justify-content: space-between;
    height: 60px;
    top: 0;
    position: fixed;
    z-index: 900;
    
    div {
        gap: 13px;

        .logo-mobile {
            @include mixin.logo(32px, -3px);
    
            padding: 0 10px;
        }

        .logo-desktop {
            display: none;
        }

        .icon {
            font-size: 35px;
        }

        button {
            @include mixin.btnPrimary();
    
            padding: 8px 10px;
        }    
    }

    form {
        border-radius: 50px;
        width: 100%;
        height: 40px;
        gap: 10px;
        margin-left: 10px;
        z-index: 30;
        display: none;

        label {
            left: 15px;

            .icon-label {
                font-size: 25px;
            }
        }

        input {
            font-size: 18px;
            border-radius: 50px;
            padding: 0 20px 0 50px;
            z-index: 50;
            background-color: transparent;
        }
    }
}

@media screen and (min-width: 480px) {
    header {
        div {
            .logo-mobile {
                display: none;
            }

            .logo-desktop {
                @include mixin.logo(32px, -3px);
    
                padding: 0 10px;

                display: block;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        div {
            .icon {
                display: none;
            }
        }

        form {
            display: flex;
            width: 50%;
        }
    }
}

.prueba {
    background-color: red;
}