@use '../globals/color-vars' as color;
@use '../globals/mixins' as mixin;

.user-form-container {
    *margin: 60px 0;
    *padding: 20px 0;

    h3 {
        text-align: center;
        font-size: 30px;
    }

    .user-form {
        border: solid 1px color.$border-color-container;
        margin: auto;
        padding: 20px;
        border-radius: 20px;
        width: 90%;
        max-width: 600px;

        .header {
            padding: 0px;
            gap: 15px;
            margin-bottom: 20px;

            img {
                border-radius: 100%;
            }
        }

        form {
            .inputs-container {
                flex-direction: column;

                p {
                    margin: 0 0 10px;

                    span {
                        font-weight: 500;
                        font-size: 1.1em;
                    }

                    &.error {
                        opacity: 0;
                    }
                }

                input {
                    padding: 10px 20px;
                    width: 100%;
                    margin-bottom: 20px;
                }

                textarea {
                    resize: vertical;
                    height: 150px;
                    outline: none;
                    border: none;
                    padding: 10px 20px;
                    margin-bottom: 20px;

                    &::-webkit-scrollbar {
                        width: 7px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: transparent;
                    }

                    [data-theme='dark'] &:hover::-webkit-scrollbar-thumb {
                        background: color.$border-line-dark;
                    }

                    &:hover::-webkit-scrollbar-thumb {
                        background: color.$border-line;
                    }
                }

                .dropzone-main-container {
                    button {
                        border-radius: 20px;
                        padding: 10px 20px;
                        margin-top: 10px;
                    }
                }

                .actions-post {
                    margin-top: 20px;
    
                    button {
                        border-radius: 20px;
                        padding: 10px 20px;
                        margin-bottom: 20px;
                        font-size: 20px;
    
                        &.create-btn {
                            @include mixin.btnPrimary();
                        }
                    }
                }

                .error-input {
                    color: color.$error-color;
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .user-form-container {
        .user-form {        
            form {
                .inputs-container {
                    flex-direction: column;
    
                    p {    
                        &.error {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}