/*----------- HERE ONLY THE LAYOUT WILL BE DEFINED, THE COMPARTMENTS OF EACH CONTAINER, SUCH AS MEASUREMENTS, SPACES, AND ETC, WILL BE IN THEIR OWN STYLE SHEETS ------ */

.grid-layout {
    position: relative;
    display: grid;
    margin-top: 60px;
}

main {
    padding: 20px 4%;
    overflow: hidden;
}

@media screen and (min-width: 720px) {
    .grid-layout {
        grid-template-areas: 
            'hero hero'
            'page aside-r'
        ;
        grid-template-columns: auto 250px;

        .img-hero {
            grid-area: hero;
        }

        main {
            grid-area: page;
        }

        aside.right {
            grid-area: aside-r;
        }
    }
}

@media screen and (min-width: 1024px) {
    .grid-layout {
        grid-template-areas: 
            'aside-l hero hero'
            'aside-l page aside-r'
        ;
        grid-template-columns: 250px auto 250px;

        aside.left {
            grid-area: aside-l;
        }
    }
}

@media screen and (min-width: 1320px) {
    .grid-layout {
        margin: 60px 7% 0;
        grid-template-columns: 300px auto 300px;
    }
}