@use '../globals/color-vars' as color;

.img-hero {
    height: 200px;

    img {
        object-fit: cover;
    }

    div {
        background-image: linear-gradient( 179.4deg, rgba(0, 0, 0, .5) 14.6%, rgba(255, 38, 0, .8) 104.7% );

        h1 {
            margin: 0 15%;
            font-size: 23px;
            bottom: 30px;
            color: color.$text-color-dark;
        }
    }
}

@media screen and (min-width: 1024px) {
    .img-hero div h1 {
        font-size: 28px;
    }
}
