@use '../globals/color-vars' as color;
@use '../globals/mixins' as mixin;

[data-theme='dark'] .border-color {
    border: solid 1px color.$text-color-dark;
}

.border-color {
    border: solid 1px color.$text-color;
}

@mixin textareaInput($border-color) {
    height: 100px;
    min-height: 100px;
    outline: none;
    resize: vertical;
    border: solid 1px $border-color;
    background-color: transparent;
    overflow-x: auto;
    padding: 10px 20px;
}

/*profile img is 30*30px */
$img-half-size: 15px;

.comments-section {
    margin: 20px 0 40px;

    *padding: 0 15px;

    .btn-add-comment {
        background-color: transparent;
        border-radius: 25px;
        gap: 10px;
        margin-bottom: 40px;
        padding: 10px 20px;
        font-weight: 500;

        span {
            transform: scale(1.6);
            font-weight: 600;
        }

        &:hover {
            color: color.$primary;
            border: solid 1px color.$primary;
        }
    }

    form {
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 40px;

        textarea {
            @include textareaInput(transparent);

            &:focus {
                border: solid 1px color.$border-color-container;
            }
        }

        .actions-form-container {
            justify-content: flex-end;

            button {
                padding: 8px 20px;
                margin-top: 10px;
                font-size: 12px;
            }

            .cancel-btn {
                border-radius: 20px;
                margin-right: 15px
            }

            .comment-btn {
                @include mixin.btnPrimary();
            }
        }
    }

    .form-container-2 {
        border-left: 1px solid transparent;
        margin-left: $img-half-size;
        padding: 20px 15px 20px ($img-half-size * 2);

        form {
            margin-bottom: 0;
        }

        &.reply-true {
            border-left: 1px solid color.$border-color-container;
        }
    }

    .comments {
        .no-comments {
            text-align: center;

            h4 {
                margin: 0;
                font-size: 20px;
                opacity: .8;
            }

            p {
                font-weight: 400;
                margin: 10px 0 0;
                opacity: .8;
            }
        }

        .comment-main-container {
            margin-bottom: 30px;
            overflow: hidden;

            .comment-container,
            .reply-main-container {
                .header-comment {
                    align-items: flex-start;

                    .info-creator {
                        flex-direction: column;
            
                        @include mixin.headerArticle(16px, 14px);
                    }
                }

                .reply,
                .comment {
                    overflow: hidden;

                    p {
                        font-size: 16px;
                        font-weight: 300;
                        margin: 0;
                    }

                    textarea {
                        @include textareaInput(color.$border-color-container);
                    }
                }

                .actions-container {
                    margin-top: 10px;
                    gap: 15px;

                    div {
                        border-radius: 55px;
                        padding: 6px 10px;
                        gap: 5px;
                        font-size: 14px;
                        font-weight: 500;

                        .icon {
                            font-size: 18px;
                        }

                        &:first-child {
                            &:hover .icon {
                                color: color.$primary;
                            }
                        }
                    }

                    button {
                        padding: 8px 20px;
                        font-size: 12px;
                    }
        
                    .cancel-btn {
                        border-radius: 20px;
                    }
        
                    .comment-btn {
                        @include mixin.btnPrimary();
                    }   
                }

            }

            .comment-container {
                .comment {
                    padding: 15px 0 0 ($img-half-size * 2);
                    margin-left: $img-half-size;
                    border-left: 1px solid color.$border-color-container;

                    &.unique {
                        border-left: 1px solid transparent;
                    }
                }
            }

            .reply-main-container {
                $top-padding: 20px;

                margin-left: $img-half-size;
                border-left: 1px solid color.$border-color-container;
                padding-top: $top-padding;
                padding-left: calc($img-half-size * 2);

                .line {
                    position: absolute;
                    left: -1px;
                    top: 0;
                    width: calc($img-half-size * 2);
                    height: calc($img-half-size + $top-padding);
                    border-left: 1px solid color.$border-color-container;
                    border-bottom: 1px solid color.$border-color-container;
                    border-bottom-left-radius: 20px;
                }

                .reply-container {
                    .reply {
                        padding: 15px 0 0 ($img-half-size * 1.5);
                    }
                }

                &:last-child {
                    border-left: 1px solid transparent;
                }
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .comments-section {
        .comments {
            .comment-main-container {
                .comment-container,
                .reply-main-container {
                    .header-comment {
                        .info-creator {
                            align-items: center;
                            flex-direction: row;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 720px) {
    .comments-section {
        form {
            .actions-form-container {
                button {
                    font-size: 16px;
                }
            }
        }

        .comments {
            .comment-main-container {
                margin-bottom: 30px;
                overflow: hidden;
    
                .comment-container,
                .reply-main-container {
                    .actions-container {
                        button {
                            padding: 8px 20px;
                            font-size: 16px;
                        }
                    }
    
                }
            }
        }
    }
}